# ---> Python Env
.env/

# ---> IMG
examples/imgs/2012-09-11/Empty/*.jpg
examples/imgs/2012-09-11/Occupied/*.jpg

# ---> VSCODE
.vscode/

# ---> C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/